# project file for Aptana Studio
.project
# vi recovery files
.*.sw[op]
# emacs flotsam
*~
# xcocde stuff
*.xcodeproj
#*.xcuserstate
xcode_*
.DS_Store
*.bak
dashboard/
.rspec
#secrets
.pgpass
*local*
*secret*
.aws-credentials
.s3cfg*
#unsure
.goaccessrc
#junk
[A-Z]*
.psql-shortcuts
.CFUserTextEncoding
.Trash
.crontab
.dogrc
.rnd
.pvrep.yml
#contains possibly sensitive history
.viminfo
*history*
*_hist
_histoqueries
