# project file for Aptana Studio
.project
# vi recovery files
.*.sw[op]
# emacs flotsam
*~
# xcocde stuff
*.xcodeproj
#*.xcuserstate
xcode_*
.DS_Store
*.bak
dashboard/
.rspec
#secrets
.pgpass
*local*
*secret*
.aws-credentials
#junk
[A-Z]*
*history*
*_hist
_histoqueries
.psql-shortcuts
.CFUserTextEncoding
.Trash
.crontab
.dogrc
