# project file for Aptana Studio
.project
# vi recovery files
.*.sw[op]
# emacs flotsam
*~
# xcocde stuff
*.xcodeproj
#*.xcuserstate
xcode_*
.DS_Store
*.bak
.rspec
#secrets
.pgpass
*local*
*secret*
.aws-credentials
.s3cfg*
.netrc
.papertrail.yml
/.dogwatch*
/.aws
#unsure
.goaccessrc
.psqlrc*
/.chef
#junk
.psql-shortcuts
.CFUserTextEncoding
.Trash
.crontab
.dogrc
.rnd
.pvrep.yml
.gitk
.mrconfig
/.workflow-tools
/.pip
/.fma-tools
/.stager
/.travis
/.heroku
/.gitignore.d
/.config
/.cups
/.mitmproxy
/.install_markers
/.sqlworkbench
#I don't care about subversion, zsh
/.subversion
/.zsh
#contains possibly sensitive history
/.ssh
.viminfo
*history*
*hist
*_histoqueries
.lesshst
.redshift_utils_config
#application put itself in root
/.datadog-agent
/.rvm
/.gem
/.cpan
/.android
# from old laptop
/.accurev
/.GoPanda*
/.cache
/.composer
/.npm
/.rbx
/.rssowl2
/.emacs.d/.cask
#Mac Junk
/Box Documents
/Box
/Desktop
/Documents
/Downloads
/Library
/Music
/Pictures
#other misc stuff
/dl
/dotfiles
/backups
/fork
/hack
/links
/model.sql
/old
/perl5
/personal
/pgadmin.log
/repos
/sandbox
/sdk
/third
/tmp
/work
/x.txt
/x
/x2
